script(src="//localhost:35729/livereload.js")
script(src="http://connect.facebook.net/en_US/all.js")
script(src=caminho+"assets/js/json2.js")
script(src=caminho+"assets/js/underscore-min.js")
script(src=caminho+"assets/js/jquery.transform2d.js")
script(src=caminho+"assets/js/jquery.jTinder.js")
script(src=caminho+"assets/js/main.js")